*{
  margin: 0px;
  padding: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Montserrat;
  /* overflow: hidden; */

}

button
{
  padding: 15px 30px ;
  border-radius: 2rem;
  border: none;
  font-size: 18px;
  font-weight: 450;

}
.black
{
  color: rgb(255, 255, 255);
  background: rgb(48, 48, 48);
  /* display: none; */
}
.white
{
  background-color: white;
}
.play 
{
  color: rgb(255, 255, 255);
  background: rgb(48, 48, 48);
  display: none;
}
nav
{
  width: 100%;
  height: 4rem;
  background-color: #404EED;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headWrap
{
  background-color: #404EED;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/src/assets/back.svg");
  background-position: bottom center;
  overflow: hidden;
}
.right
{
  position: absolute;
  left: auto;
  bottom: -240px;
  left: -170px;
  /* display: none; */
}
.left
{
  display: none;
 
}
.top
{
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 20px;
}
.textwrap h1
{
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -1px;
  text-align: center;
}
.textwrap p
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 2rem;
}
.textwrap
{
  /* margin-top: 2rem; */
  width: 70%;
  text-align: center;
}
.bwrap
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  /* flex-direction: column; */
}
.bwrap button
{
  margin: 10px;
}
.left
{
  max-width: 100%;
}
.swrap
{
  /* width: ; */
  padding: 4rem 2rem 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  /* flex-direction: column; */
  /* margin-top: 20px; */
  /* font-family: Montserrat; */
  /* flex-direction: column; */
}
.alpha
{
  flex-direction: column;
  /* width: 50%; */
}
.alpha .main-text
{
  width: 50%;
}
.alpha h1
{
  font-weight: 900;
  text-align: center;
}
.alpha p
{
  text-align: center;
}

.swrap img
{
  max-width: 100%;
}
.swrap h1
{
  margin: 20px 0px;
}

.dim
{
  background-color: #F6F6F6;

}
.blue
{
  background-color: #5865F2;
  color: white;
  
}
.nowrap
{
  display: flex;
  flex-direction: column;
}
.nowrap button
{
  margin-top: 20px; 
}
.section-piece
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* gap: 1000px ; */
}
 .main-image
{
width: 60%;
}
.swrap .main-text p
{
  line-height: 2rem;
}
.swrap .main-text
{
 width: 400px;
}
.nowrap
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
footer
{
  width: 100%;
  height: 100px;
  background-color: #23272A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
@media only screen and (max-width: 600px) {

  .swrap
  {
    flex-direction: column;
    color: rgb(31, 31, 31);
  }
  .white, .black
  {
    display: none;
  }


 
  .right
  {
    display: none;
  }
  .blue
  {
    max-width: 100%;
  }
  .white, .black
  {
    display: block;

  }
  .headWrap
  {
    position: relative;
    flex-direction: column;
    height: 80vh;

    /* padding-right: 30px; */
  }
  .imgwrap
  {
    position: absolute;
    bottom: 0px;
    
    
  }
  .right
  {
    /* display: block; */
  }
  .left
  {
    display: block;
    margin-left: -5rem;
    
  }
  div.textwrap > *
  {
    margin-top: 20px;
  }
  .textwrap
  {
    max-width: 92%;
    margin-top: 100px;
    /* margin: 20px; */
    text-align: left;
    margin-right: auto;
    margin-left: 20px;
  
    
  }
  .textwrap p 
  {
    line-height: 1.4rem;
    font-size: 0.8rem;
  }
  .bwrap
  {
    margin-top: -10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
    width: auto;
    overflow: hidden;
  }
  .top h1
  {
    font-weight: 900;
    font-size: 30px;
    text-align: left;
  }
  .top{
    margin-top: -20rem;
    max-width: 100%;
    ;
  }
  p
  {
    font-size: 14px;
    line-height: 1.8;
  }
  .swrap p
  {
    font-size: 15px;
    line-height: 1.8;
  }
  .swrap .main-image
  {
    max-width: auto;
  }
  .section-piece
  {
    height: 70vh;
    /* padding: 10px; */
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .swrap .main-text
  {
   width: auto;
  }
  .main-text h1
  {
    font-size: 30px;
    font-weight: 800;
  }
  .nowrap
  {
    margin-top: -50px;
  }
  .end
  {
    /* max-width: 100%; */
    letter-spacing: -0.5px;
    
  }
  .nowrap
  {
    padding: 20px;
  }

}
@media only screen and (max-width: 1000px) {
.right
{
  display: none;
}
.headWrap
{
  overflow: hidden;
}

}