*{
  margin: 0px;
  padding: 0px;
}

nav
{
  width: 100%;
  height: 4rem;
  background-color: #404EED;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img
{
  width: 100%;
  height: 100vh;
  background-color: #404EED;
  background-image: url("/src/Components/cloud.svg");
  background-position: center bottom;
  
}
img
{
  position: absolute;
  bottom: 0px;
  /* left: auto; */
  /* right: 20p; */
  /* right: auto; */
  /* width: 120%; */
  /* height: 500px; */
  width: 40rem;
}
.left img
{
  /* left: ; */
  right: 50px;

}
/* .left
{
  background-image: url("/src/assets/left.svg");
}*/
.right
{
  position: relative;
  /* background-image: url("/src/assets/right.svg"); */
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-bottom: -200px; */
  /* justify-content: flex-end; */
} 
.left
{
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: aliceblue; */
  /* display: flex; */
  /* align-items: center; */
}
.bwrap
{
  padding: 20px;
}
.bwrap div
{
  margin: 10px;
  background-color: rgb(27, 27, 27);
}